* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Gilroy";
}

html,
body {
  height: 100%;
  width: 100%;
}

#main {
  position: relative;
  z-index: 10;
}

#page1 {
  min-height: 100vh;
  width: 100%;
  background-color: #efeae3;
  position: relative;
  padding: 0 2vw;
}

nav {
  padding: 2vw 0vw;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav h3 {
  display: none;
}

.nav-part2 {
  display: flex;
  align-items: center;
  gap: 1vw;
}

.nav-part2 h4 {
  padding: 10px 20px;
  border: 1px solid rgba(23, 20, 20, 0.721);
  border-radius: 50px;
  font-weight: 450;
  color: black;
  position: relative;
  font-size: 18px;
  transition: all ease 0.3s;
  overflow: hidden;
}

.nav-part2 h4::after {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: black;
  left: 0;
  bottom: -100%;
  border-radius: 50%;
  transition: all ease 0.4s;
}

.nav-part2 h4:hover::after {
  bottom: 0;
  border-radius: 0;
}

.nav-part2 h4 a {
  color: black;
  text-decoration: none;
  z-index: 9;
  position: relative;
}

.nav-part2 h4:hover a {
  color: white;
}

#center {
  height: 65vh;
  width: 100%;
  background-color: orange;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  border-bottom: 1px solid black;
  padding-bottom: 2.5vw;
  position: relative;
}

#right {
  position: absolute;
  right: 0;
  bottom: 25%;
}

#left h3 {
  width: 25vw;
  font-size: 2vw;
  height: 34vh;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  line-height: 2vw;
}

#center {
  font-size: 6vw;
  line-height: 10vw;
  text-align: center;
}

#page1 video {
  position: relative;
  border-radius: 4vw;
  width: 100%;
}

#hero-shape {
  position: absolute;
  width: 46vw;
  height: 36vw;
  background-color: #fe3f0f;
  border-top-left-radius: 50%;
  border-bottom-left-radius: 50%;
  right: 0;
  top: 65vh;
  filter: blur(20px);
}

#hero1 {
  height: 100%;
  width: 100%;
  background-color: #fe3f0f;
  border-top-left-radius: 50%;
  border-bottom-left-radius: 50%;
  filter: blur(20px);
  position: absolute;
}
#hero2 {
  height: 30vw;
  width: 30vw;
  background: linear-gradient(#fe3f0f, #e8370b);
  border-top-left-radius: 50%;
  border-bottom-left-radius: 50%;
  filter: blur(25px);
  position: absolute;
  animation: anime2 5s linear 0s infinite alternate;
}
#hero3 {
  height: 30vw;
  width: 30vw;
  background: linear-gradient(#fe3f0f, #e8370b);
  border-top-left-radius: 50%;
  border-bottom-left-radius: 50%;
  filter: blur(25px);
  position: absolute;
  animation: anime1 5s linear 0s infinite alternate;
}

@keyframes anime1 {
  from {
    transform: translate(55%, -2%);
  }
  to {
    transform: translate(0%, 10%);
  }
}
@keyframes anime2 {
  from {
    transform: translate(5%, -5%);
  }
  to {
    transform: translate(-20%, 30%);
  }
}

#page2 {
  min-height: 100vh;
  width: 100%;
  background-color: whitesmoke;
  padding: 8vw 0;
  position: relative;
}

/* Parent */
#moving-text {
  white-space: nowrap;
  overflow-x: auto;
  background: #efeae3;
}

/* Child of con */
#moving-text h1 {
  font-size: 9vw;
  display: inline-block;
}

#moving-text::-webkit-scrollbar {
  display: none;
}

#gola {
  height: 35px;
  width: 35px;
  border-radius: 50%;
  background-color: #e8370b;
  display: inline-block;
  margin: 1vw 2vw;
}
/* child of parent moving-text */
.con {
  white-space: nowrap;
  display: inline-block;
  animation: move 9s linear 0s infinite;
}

@keyframes move {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}

#page2-bottom {
  height: 80vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 4vw;
  position: relative;
  z-index: 9;
}

#page2-bottom h1 {
  font-size: 4vw;
  width: 60%;
  line-height: 4vw;
}

#bottom-part2 {
  width: 25%;
}

#bottom-part2 img {
  width: 100%;
  border-radius: 18px;
}

#featured-project {
  font-size: inherit;
  display: relative;
}

#bottom-part2 #featured-project {
  position: absolute;
  left: 25px;
  margin-top: 60px;
}

#featured-project li::marker {
  color: red;
}

#bottom-part2 p {
  font-weight: lighter;
  margin-top: 2vw;
}

#page2 #gooey {
  height: 32vw;
  width: 32vw;
  position: absolute;
  border-radius: 50%;
  background: linear-gradient(to top right, #ff2d03, #ff671b);
  top: 58%;
  left: 25%;
  filter: blur(12px);
  animation-name: gooey;
  animation-duration: 6s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: ease-in-out;
}
@keyframes gooey {
  from {
    transform: translate(10%, -10%) skew(0);
  }
  to {
    transform: translate(-10%, 10%) skew(-12deg);
  }
}

#page3 {
  min-height: 100vh;
  width: 100%;
  background-color: #efeae3;
  padding: 4vw 0;
}

.elem {
  height: 150px;

  border-bottom: 1px solid rgba(0, 0, 0, 0.589);
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
  padding: 0 1.5vw;
  overflow: hidden;
}

.elem h2 {
  font-size: 3vw;
  position: relative;
  z-index: 9;
}

.elem .overlay {
  height: 100%;
  width: 100%;
  background-color: orange;
  position: absolute;
  left: 0;
  top: -100%;
  transition: all ease 0.2s;
}

.elem:hover .overlay {
  top: 0;
}

#fixed-image {
  height: 30vw;
  border-radius: 10px;
  position: fixed;
  z-index: 99;
  width: 24vw;
  left: 50%;
  top: 25%;
  display: none;
  background-size: cover;
  background-position: center;
}

#page5 {
  width: 100%;
  height: 100vh;
}

#footer {
  height: 100vh;
  width: 100%;
  background-color: black;
  color: #fff;
  position: fixed;
  z-index: 9;
  height: 60vh;
  bottom: 0;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 1vw 3vw;
}

#footer h1 {
  font-size: 22vw;
}

#footer-div {
  height: 20vh;
  width: 100%;
  display: flex;
  justify-content: space-between;
  background: linear-gradient(to top right, #ff2d03, #ff671b);
  animation-name: flash;
  animation-duration: 6s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: ease-in-out;
}

@keyframes flash {
  from {
    transform: translate(20%, -20%) skew(12);
  }
  to {
    transform: translate(20%, 10%) skew(-12deg);
  }
}

#white-line {
  border-top: 1px solid white;
  height: 1px;
  width: 100%;
  position: absolute;
  bottom: 35px;
}

#footer #right-footer {
  display: flex;
  flex-direction: column;
}

#last a {
  text-decoration: none;
  color: inherit;
}

#last {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  bottom: 40px;
}
@media only screen and (max-width: 700px) {
  #last {
    height: 1px;
    width: 100%;
    position: relative;
    top: 10px;
  }
}

#page4 {
  width: 100%;
  height: 65vh;
  background-color: #efeae3;
  padding: 6vw 1vw;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  border-left: 1px solid #2e2b2b;
  width: 60%;
  padding: 0vw 2vw;
}

@media (max-width: 600px) {
  #page1 {
    min-height: 100vh;
    width: 100%;
    padding: 0 2vw;
  }

  nav {
    padding: 7vw 0vw;
    position: relative;
    z-index: 100;
  }

  nav img {
    height: 9vh;
  }

  .nav-part2 {
    display: none;
  }
  nav h3 {
    display: none;
  }
  nav h3 {
    display: block;
    padding: 3vw 5vw;
    border: 1px solid whitesmoke;
    border-radius: 50px;
    font-size: 4vw;
    font-weight: 200;
    padding-left: 10vw;
  }
}

#loader {
  height: 100%;
  width: 100%;
  background: #000;
  position: fixed;
  z-index: 999;
  transition: all ease 0.5s;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

#loader h1 {
  font-size: 4vw;
  color: transparent;
  background: linear-gradient(to right, orange, orangered);
  -webkit-background-clip: text;
  position: absolute;
  opacity: 0;
  animation: load;
  animation-duration: 1.1s;
  animation-delay: 1s;
  animation-timing-function: linear;
}

#loader h1:nth-child(2) {
  animation-delay: 2s;
}
#loader h1:nth-child(3) {
  animation-delay: 3s;
}

@keyframes load {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
